[Unit]
Description=eFlex CAN MQTT Service

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/eflexcan2mqtt/eflexcan2mqtt --config_path /etc/eflexcan2mqtt.ini
  
[Install]
WantedBy=multi-user.target